.container {
    background-size: 115% ,11%; 
    background-position-x: center;
    background-repeat: no-repeat;  
    background-image: url("https://i.pinimg.com/originals/3d/b7/91/3db7911a39cfa1be80d1084eb652cf37.jpg");
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows:  0.25fr 1fr 1fr 1fr 0.5fr;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    flex-wrap: wrap-reverse;
}

.nav { 
    border: 5px solid white;
    border-radius: 10px; 
    width: 100%;
    height: 100px;
    position: relative;
    grid-area: 1 / 1 / 2 / 6;
}

.nav h1 {
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
}


.section {
    background-color: #0000006e;
    padding: 2px;
    border: 5px solid white;
    border-radius: 10px;
    color: #ffffff;
    height: 100vh; 
    grid-area: 2 / 2 / 5 / 5;
}

.section table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section button {
    height: 180px;
    width: 140px;
    opacity: 0.8;
    transition: 0.5s ease;
    background-image: url('https://i.pinimg.com/originals/b9/3b/25/b93b25589be5451f2179ccb168354ca3.jpg');
    background-size: 250px , 180px;
    background-position-x: center;
    background-repeat: no-repeat; 
}

.section button:hover {
    height: 340px;
    width: 300px;
    background-size: 340px , 300px;
    opacity: 1;
    filter: contrast(120%);
}

.aside {
    background-color: #0000006e;
    transition: 0.5s ease;
    height: 450px;
    width: 280px;
    border: 5px solid white;
    border-radius: 10px; 
    color: #ffffff;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    grid-area: 2 / 1 / 5 / 2;
}

.aside:hover {
    width: 500px;
    color: #000000;
    background-color: #ffffff;
}

.div1 {
    background-color: #0000006e;
    transition: 0.5s ease;
    padding: 10px;
    border: 5px solid white;
    border-radius: 10px; 
    color: #ffffff;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    grid-area: 2 / 5 / 3 / 6;
}

.div1:hover {
    color: #000000;
    background-color: #ffffff;
}

.div2 {
    background-color: #0000006e;
    transition: 0.5s ease;
    padding: 10px;
    border: 5px solid white;
    border-radius: 10px; 
    color: #ffffff;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    grid-area: 3 / 5 / 4 / 6;
}

.div2:hover {
    color: #000000;
    background-color: #ffffff;
}

.div3 {
    background-color: #0000006e;
    transition: 0.5s ease;
    padding: 10px;
    border: 5px solid white;
    border-radius: 10px; 
    color: #ffffff;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    grid-area: 4 / 5 / 5 / 6;
}

.div3:hover {
    color: #000000;
    background-color: #ffffff;
}

.footer {
    grid-area: 5 / 1 / 6 / 6;
}