*{
    margin: 0px;
    padding: 0px;
}

.contenido{
     display: grid;
     width: 100%;
     height: 100vh;
     grid-template-columns: repeat(5, 1fr);
     grid-template-rows: repeat(5, 1fr);
     grid-column-gap: 0px;
     grid-row-gap: 10px;
     padding-bottom: 50px; 
     position: relative;
     min-height: 100vh; 
}

.div1 {
    background-color: #CDFAD5;
    grid-area: 1 / 1 / 5 / 2;
    text-align: left;
}

.ordenContenido{
    margin-top: 50px;
}

.div1 .ordenContenido .imgNav{
    width: 45px;
    margin-bottom:  15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btnNav{
    background-color: #CDFAD5;
    border: none;
    padding: 10px 35px;
    margin-right: 9px;
    align-items: left; 
    text-decoration: none;
    display: inline-block;
    font-size: 2px;
    cursor: pointer; 
}

a {
    text-decoration: none; 
    color: inherit; 
}

.textoIcono{
    margin-left: 6px;
    font-size: 15px;
    color: #515151;
    font-family: "Madimi One", sans-serif;
    display: inline-block; 
    text-align: center;
}

.btnNav:hover{
    background-color: #FFEBD8;
    text-shadow: 0 0 8px #FF8080;
    transition: all 0.5s ease;
}

.material-symbols-outlined {
    font-family: 'Material Icons';
    font-size: 0px;       
    display:flex;
    margin-left: 25px;
}

.div2 {
    background-color: #F6FDC3;
    grid-area: 1 / 2 / 5 / 6;
}

#tituloCentral{
    text-align: center;
    margin-top: 25px;

}

.contenidoCentral{
    display: flex;
    margin-top: 35px;
}

.crear {
    width: 350px;
    height: 250px;
    margin-left: 25px;
    background-color: #F9F07A;
    border: none;
    cursor: pointer; 
}

.crear:hover{
    background-color: #FFC5C5;
    text-shadow: 0 0 15px #FF8080;
    transition: all 0.5s ease;
}


#contenedorEspaciosTarea { 
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: 200px;
    margin-right: 300px;
}

.espacioTarea { 
    margin-right: 15px;
    margin-bottom: 10px;
    width: 150px; 
}

.div2 .crear .material-symbols-outlined {
    text-align: center;
    font-size: 150px;
    color: #9195F6;

}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 25px;
    margin-bottom:30px;
    color: #FF8080;
    text-transform: uppercase;
}


.div3 {
    background-color: #B7C9F2;
    grid-area: 5 / 1 / 6 / 6;
    width: 100%; 
    position: absolute;   
}

.div3 .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding:  45px 0px;
}

.div3 .grupo1 .logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div3 .grupo1 .logo img{
    width: 100px;
}

.div3 .grupo1 .contenidoCentro h3 {
    color: #515151;
    margin-bottom: 25px;
    font-size: 13px;
    font-family: "Merriweather", serif;
    text-align: center;
}

.contenidoDerecha{
    text-align: center;
}

.div3 .grupo1 .contenidoDerecha p {
    color: #454546;
    margin-bottom: 20px;
    font-size: 13px;
    font-family: "Merriweather", serif;
    text-align: justify;
}

.div3 .grupo1 .contenidoDerecha a {
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: #9195F6;
    text-align: center;
}

.div3 .grupo1 .contenidoDerecha a:hover {
    text-shadow: 0 0 8px #FF8080;
    transition: all 0.5s ease;
}

.div3 .grupo2 {
    background-color: #9195F6;
    padding: 15px 10px;
    text-align: center;
    color: #272727;
    font-family: "Madimi One", sans-serif;
}